
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
.header-image {

  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  margin: 0;
}

.header-image img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
.headings{
  font-family: 'Open Sans', sans-serif;
  font-style: bold;
  text-align: center;
  position: absolute;
  z-index:2;
  color:#fff

}
.headings-2{
  font-family: 'Open Sans', sans-serif;
  padding-top: 3%;
  text-align: center;
}
.sub-headings{
  font-family: 'Open Sans', sans-serif;
  padding-top: 3%;
  text-align: center;

}
.btn-1{
  
  position: relative;
  border-radius: 7%;
  border: black;
  color:black;
}
.Curated-block{
  background-color:whitesmoke;
}
.Deck{
  width:85%;
  height:10%;
  margin-left: 8%;
  
}
.Deck-vid{
  width:75%;
  height:10%;
  margin-left: 15%;
  
}
.img1{
  size: 25%;
  object-fit: fill;
  
}
.img{
  size: 85%;
  object-fit: cover;
  
}
.b5-headings{
  position: absolute;
  z-index: 2;
  bottom: -240%;
  margin-left: 35%;
  text-align: center;
  color:white;

}

.b5-subheadings{
  position: absolute;
  z-index: 2;
  bottom: -245%;
  margin-left: 35%;
  text-align: center;
  color:white;

}

 .green-box{
position: absolute;
z-index: 2;
  color:white;
  margin-left:20%;
 bottom:-280%;
  background-color: transparent;
  padding: 0;
  font-size:80%;
}
 .blue-box{
  position: absolute;
  z-index: 2;
  color:white;
  margin-left:50%;
  bottom:-280%;
  background-color: transparent;
  font-size:80%;
  padding: 0;
}  

.b6-headings{
  position: absolute;
  text-align: center;
  z-index:2 ;
  width: 50%;
  color: grey;
}
.Card-Img{
  width: 40%;
}
#select-1{
  position: absolute;
  font-size: 60%;
  color:grey;
  padding:2%;
  margin-left:-45%;
  width:65%;
}
#select-2{
position: absolute;
  font-size: 60%;
  color:grey;
  padding:2%;
  margin-left: 23%;
  width:65%;
}
.btn-2{
  color:white;
  background-color: darkgreen;
  font-size:70%;
  margin-left: 90%;
  padding:2%;
  width:40%;
  border: thin;
}

.list{
  list-style: none;
}
.info{
  height: 35vh;
  background-color:#484848;
  color: white;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 3%;
}
footer{
  text-align: center;
  background-color: lightgray;
  padding:1.2%;
  font-size: 80%;
}

.text-block {
  position: absolute;
  text-align: center;
  font-style: bold;
  color: white;
  bottom: 1px;
  right: 1px;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  
  padding-left: 30px;
  padding-right: 30px;
}
.btm-headings{
  color: #65c184;
}
.l-arrow{
  position: absolute;
  margin-top: 3%;
  margin-left: 7%;
}
.r-arrow{
  position: absolute;
  z-index:2;
  margin-left: 90%;
  margin-top: 5%;
 
  
}



      .faceA1{
position: absolute;
z-index: 2;
margin-top: 13.5%;
margin-left:16%;

}
.faceA2{
  position: absolute;
  z-index:2;
  margin-top:13.5%;
  margin-left:41%;
  
  }
  
.faceA3{
    position: absolute;
    position: absolute;
    z-index:2;
    margin-top:13.5%;
    margin-left:66%;
    
    }
    
.faceB1{
  position: absolute;
      z-index: 2;
      margin-top: 17%;
      margin-left:16%;
      
      }
.faceB2{
        position: absolute;
        z-index:2;
        margin-top:17%;
        margin-left:41%;
        
        }
        
.faceB3{
          position: absolute;
          position: absolute;
          z-index:2;
          margin-top:17%;
          margin-left:66%;
          
     }    
.star-cards{
  position: absolute;
  text-align: center;
  font-style: bold;
  color: white;
  bottom: 30%;
  right: 1px;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  
  padding-left: 30px;
  padding-right: 30px;

}    
.search{
  top:25%;
  left: 25%;
  position:absolute;
  border-right: transparent;
  border-left: transparent;
  border-top: transparent;
  
}
.btn01{
  
}